  <div class="toolbar">

    <p>Hello admin,</p>
    <p>View the status of your agents and the evolution of their latest alerts</p>
    <br>
    <h3>Installed agents by their status</h3>
  </div>

  <div class="content" role="main">
      <div class="card-container">
        <div *ngFor="let i of objectKeys(agentByStatusStatic)">

         <div class="card" >
           <h5 >{{agentByStatusStatic[i].label}}</h5>
           <h2 [style.color]="agentByStatusStatic[i].color" >{{agentByStatusStatic[i].total}}</h2>
         </div>

        </div>
      </div>



  </div>

<router-outlet></router-outlet>
